@charset "UTF-8";

.guide {
  &::before {
    content: '';
    width: v(335);
    height: 100vh;
    margin: 0px auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 0px 0px rgba(255, 0, 0, 0.2) inset, -1px 0px 0px rgba(255, 0, 0, 0.2) inset;
    pointer-events: none;
    z-index: 10000;
    @include pc {
      width: v(1200, pc);
    }
    @include ov {
      width: 1200px;
    }
  }
  &::after {
    content: '';
    width: 1px;
    height: 100vh;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 0, 0, 0.2);
    pointer-events: none;
    z-index: 10000;
  }
}

html {
  font-size: calc(100vw / 3.75);
  background: #F2F2F2;
  @include pc() {
    font-size: calc(100vw / 14.40);
  }
  @include ov {
    font-size: 62.5%;
  }
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
  }
  &::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-smoothing: antialiased;
  @extend .guide;
  color: #333;
  a {
    color: #333;
  }
  h1, h2, h3, h4, h5, h6, p, b, strong, dt, dd {
    @include fv(15, 27, 4);
    @include pc {
      @include fvp(16, 28, 4);
    }
    @include ov {
      @include fr(16, 28, 4);
    }
  }
}

// .myriad-italic-bold {
//   font-family: myriad-pro, sans-serif;
//   font-weight: 700;
//   font-style: italic;
// }

// .myriad-italic {
//   font-family: myriad-pro, sans-serif;
//   font-weight: 400;
//   font-style: italic;
// }

.none {
  display: none;
}

.none_sp {
  @include sp {
    display: none;
  }
}

.none_pc {
  @include pc {
    display: none;
  }
}

.main {
  // padding-bottom: v(82);
  display: block;
  position: relative;
  z-index: 1;
  // @include pc {
  //   padding-bottom: vp(132);
  // }
  // @include ov {
  //   padding-bottom: 132px;
  // }
}

.inner {
  width: v(335);
  margin: 0px auto;
  @include pc {
    width: vp(1200);
  }
  @include ov {
    width: 1200px;
  }
}

.viewbtn {
  @include pc {
    display: flex;
    justify-content: flex-end;
  }
  &_link {
    width: v(102);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include pc {
      width: vp(150);
    }
    @include ov {
      width: 150px;
    }
    i {
      width: v(48);
      height: v(48);
      line-height: 0;
      background: #333;
      border-radius: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
      @include pc {
        width: vp(88);
        height: vp(88);
      }
      @include ov {
        width: 88px;
        height: 88px;
      }
      svg {
        width: v(14);
        height: auto;
        @include pc {
          width: vp(24);
        }
        @include ov {
          width: 24px;
        }
        path {
          fill: #fff;
        }
      }
    }
    p {
      @include fv(18, 27);
      font-family: $FONT-MYRIAD;
      font-weight: 700;
      @include pc {
        @include fvp(18, 27);
      }
      @include ov {
        @include fr(18, 27);
      }
    }
  }
}