@charset "UTF-8";

.gbl-nav {
  position: fixed;
  z-index: 2;
  @include sp {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease;
    html.isNavOpen & {
      opacity: 1;
      pointer-events: all;
    }
  }
  @include pc {
    width: v(400, pc);
    top: v(53, pc);
    right: v(120, pc);
    mix-blend-mode: difference;
  }
  @include ov {
    width: 400px;
    top: 53px;
    right: 120px;
  }
  &_menu {
    padding: v(122) v(50) 0px;
    @include pc {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_link {
      margin-top: v(32);
      @include pc {
        margin: 0px;
        color: #fff;
      }
      &:first-child {
        margin: 0;
      }
      font-family: $FONT-MYRIAD;
      font-style: italic;
      font-weight: 700;
      @include fv(32, 32);
      display: block;
      @include pc {
        @include fv(22, 22, 0, pc);
      }
      @include ov {
        @include fr(22, 22, 0);
      }
    }
  }
  &_share {
    padding: v(50);
    display: flex;
    align-items: center;
    @include pc {
      display: none;
    }
    &_link {
      width: v(24);
      height: v(24);
      display: block;
      margin-right: v(24);
      &:last-child {
        margin-right: 0px;
      }
      &_facebook {
        background: url(/assets/img/cmn/icon-facebook.svg) center center / contain no-repeat;
      }
      &_twitter {
        background: url(/assets/img/cmn/icon-twitter.svg) center center / contain no-repeat;
      }
    }
  }
}

.gbl-navTrigger {
  width: v(48);
  height: v(48);
  position: fixed;
  top: v(16);
  right: v(20);
  background: #333333;
  background: #fff;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  z-index: 3;
  @include pc {
    display: none;
  }
  &_inner {
    width: v(16);
    height: v(10);
    position: relative;
    html.isNavOpen & {
      height: v(16)
    }
    span {
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0px;
      background: #fff;
      background: #000;
      transition: transform .4s ease;
      &:first-child {
        top: 0px;
        html.isNavOpen & {
          top: 50%;
          transform: translate3d(0px, -50%, 0px) rotate(45deg);
        }
      }
      &:last-child {
        bottom: 0px;
        html.isNavOpen & {
          top: 50%;
          bottom: unset;
          transform: translate3d(0px, -50%, 0px) rotate(-45deg);
        }
      }
    }
  }
}