<footer class="gbl-footer">
  <div class="gbl-footer_inner">
    <header class="gbl-footer_header">
      <a href="/" class="gbl-footer_header_logo">
        <img src="/assets/img/cmn/logo-w.svg" alt="">
      </a>
      <div class="gbl-footer_header_share">
        <a href="" class="gbl-footer_header_share_link gbl-footer_header_share_link_facebook"></a>
        <a href="" class="gbl-footer_header_share_link gbl-footer_header_share_link_twitter"></a>
      </div>
    </header>
    <nav class="gbl-footer_nav">
      <a href="/#service" class="gbl-footer_nav_link">service</a>
      <a href="/about/" class="gbl-footer_nav_link">about us</a>
      <a href="/works/" class="gbl-footer_nav_link">works</a>
      <a href="#" target="_blank" class="gbl-footer_nav_link">contact</a>
    </nav>
    <p class="gbl-footer_copy">&copy; 2022Nex communications Inc.</p>
  </div>
</footer>
