<div class="gbl-nav">
  <nav class="gbl-nav_menu">
    <a href="/service/" class="gbl-nav_menu_link">service</a>
    <a href="/about/" class="gbl-nav_menu_link">about us</a>
    <a href="/works/" class="gbl-nav_menu_link">works</a>
    <a href="#" target="_blank" class="gbl-nav_menu_link">contact</a>
  </nav>
  <div class="gbl-nav_share">
    <a href="#" target="_blank" class="gbl-nav_share_link gbl-nav_share_link_facebook"></a>
    <a href="#" target="_blank" class="gbl-nav_share_link gbl-nav_share_link_twitter"></a>
  </div>
</div>

<div class="gbl-navTrigger">
  <div class="gbl-navTrigger_inner">
    <span></span>
    <span></span>
  </div>
</div>
