<aside class="gbl-talk">
  <div class="gbl-talk_header">
    <div class="gbl-talk_heading">
      <div class="gbl-talk_heading_inner inner">
        <p class="gbl-talk_heading_title"><b>let’s</b>talk</p>
      </div>
    </div>
  </div>
  <div class="gbl-talk_body">
    <p>ブランドの立ち上げや、リブランディング、<br>広告やWEB/SNSのクリエイティブなど、<br class="none_pc">お気軽にご相談ください</p>
  </div>
</aside>
