@charset "UTF-8";

.pg-about {

}

.pg-about_feature {
  padding-top: v(115);
  @include pc {
    padding-top: vp(220);
  }
  @include ov {
    padding-top: 220px;
  }
  &_title {
    p {
      display: inline-block;
      @include fv(60, 60);
      font-family: $FONT-MYRIAD;
      font-weight: 700;
      position: relative;
      @include pc {
        @include fvp(100, 100, 10);
      }
      @include ov {
        @include fr(100, 100, 10);
      }
      &::after {
        content: '';
        width: 100%;
        height: v(3);
        background: #333;
        position: absolute;
        left: 0px;
        bottom: v(3);
        @include pc {
          height: vp(3);
          bottom: vp(3);
        }
        @include ov {
          height: 3px;
          bottom: 3px;
        }
      }
    }
  }
  &_heading {
    margin-top: v(35);
    @include pc {
      margin-top: vp(120);
    }
    @include ov {
      margin-top: 120px;
    }
    span {
      @include fv(21, 32, 110);
      font-weight: 700;
      border-bottom: v(3) solid #333;
      @include pc {
        @include fvp(39, 70, 70);
        border-bottom-width: vp(3);
      }
      @include ov {
        @include fr(39, 70, 70);
        border-bottom-width: 3px;
      }
    }
  }
  &_read {
    margin-top: v(35);
    @include pc {
      margin-top: vp(47);
    }
    @include ov {
      margin-top: 47px;
    }
    p {
      @include fv(15, 28, 163);
      font-weight: 700;
      text-align: justify;
      @include pc {
        @include fvp(20, 36, 110);
      }
      @include ov {
        @include fr(20, 36, 110);
      }
      br {
        @include sp {
          display: none;
        }
      }
    }
  }
  &_concept {
    width: v(335);
    height: v(309);
    margin: v(40) auto 0px;
    position: relative;
    @include pc {
      width: vp(680);
      height: vp(627);
      margin-top: vp(74);
    }
    @include ov {
      width: 680px;
      height: 627px;
      margin-top: 74px;
    }
    &_block {
      width: v(177);
      height: v(177);
      position: absolute;
      @include pc {
        width: vp(360);
        height: vp(360);
      }
      @include ov {
        width: 360px;
        height: 360px;
      }
      &_vision {
        top: 0px;
        left: 0px;
        right: 0px;
        margin: 0px auto;
      }
      &_mission {
        top: v(132);
        left: 0px;
        @include pc {
          top: vp(267);
        }
        @include ov {
          top: 267px;
        }
      }
      &_value {
        top: v(132);
        right: 0px;
        @include pc {
          top: vp(267);
        }
        @include ov {
          top: 267px;
        }
      }
    }
    &_inner {
      width: 100%;
      height: 100%;
      position: relative;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_title {
      position: absolute;
      left: 0px;
      right: 0px;
      margin: 0px auto;
      .pg-about_feature_concept_block_vision & {
        top: v(13);
        @include pc {
          top: vp(34);
        }
        @include ov {
          top: 34px;
        }
      }
      .pg-about_feature_concept_block_mission &,
      .pg-about_feature_concept_block_value & {
        bottom: v(13);
        @include pc {
          bottom: vp(34);
        }
        @include ov {
          bottom: 34px;
        }
      }
      p {
        @include fv(12, 18);
        font-family: $FONT-MYRIAD;
        font-weight: 700;
        position: relative;
        display: inline-block;
        @include pc {
          @include fvp(25, 26, 4);
        }
        @include ov {
          @include fr(25, 26, 4);
        }
        &::after {
          content: '';
          width: 100%;
          height: v(1);
          position: absolute;
          left: 0px;
          bottom: 0px;
          background: #333;
          @include pc {
            height: vp(1);
          }
          @include ov {
            height: 1px;
          }
        }
      }
    }
    &_read {
      @include fv(10, 14, 80);
      font-weight: 700;
      @include pc {
        @include fvp(22, 28, 80);
      }
      @include ov {
        @include fr(22, 28, 80);
      }
    }
    &_circle {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        fill: none;
        stroke: #333;
        display: block;
      }
    }
  }
}

.pg-about_data {
  margin-top: v(42);
  @include pc {
    margin-top: vp(132);
  }
  @include ov {
    margin-top: 132px;
  }
  &_inner {
    @include pc {
      display: flex;
    }
  }
  &_header {
    &_en {
      @include fv(16, 24);
      font-family: $FONT-MYRIAD;
      font-weight: 700;
      @include pc {
        @include fvp(20, 30);
      }
      @include ov {
        @include fr(20, 30);
      }
    }
    &_jp {
      @include fv(21, 31, 4);
      font-weight: 700;
      @include pc {
        @include fvp(32, 48);
      }
      @include ov {
        @include fr(32, 48);
      }
    }
  }
  &_body {
    margin-top: v(26);
    border-top: v(1) solid #ccc;
    @include pc {
      width: vp(912);
      margin-top: 0px;
      margin: 0px 0px 0px vp(115);
      border-top-width: 1px;
    }
    @include ov {
      width: 912px;
      margin-left: 115px;
    }
    &_list {
      padding: v(23) 0px;
      border-bottom: v(1) solid #ccc;
      @include pc {
        padding: vp(24) 0px;
        border-bottom-width: 1px;
        display: flex;
        align-items: center;
      }
      @include ov {
        padding: 24px 0px;
      }
    }
    &_head {
      @include pc {
        width: vp(190);
      }
      @include ov {
        width: 190px;
      }
      p {
        @include fv(15, 27, 4);
        font-weight: 700;
        @include pc {
          @include fvp(16, 28, 4);
        }
        @include ov {
          @include fr(16, 28, 4);
        }
      }
    }
    &_detail {
      p {
        @include fv(15, 27, 4);
        @include pc {
          @include fvp(16, 28, 4);
        }
        @include ov {
          @include fr(16, 28, 4);
        }
      }
    }
  }
}