@charset "UTF-8";

html {
  font-size: calc(100vw / 3.75);
  @include pc() {
    font-size: 62.5%;
  }
}

body {
  font-feature-settings: "palt" 1;
  -webkit-font-smoothing: antialiased;
}

